.header {
    font-size: 2.3rem;
    text-transform: uppercase;
    /* background: #272728;
    color: #f9f9f9; */
    color: var(--primary-light);
    background: #f9f9f9;
    /* background: var(--comp);
    color: var(--primary); */
    /* background: var(--primary);
    color: var(--comp); */
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header--hide {
  display: none;
}

@media(max-width:1200px) {
  .header {
    font-size: 3vw;
  }
}